:root {
    --light-gray: #ffffff;
    --gray: #37474f;
    --primary: #1f57ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--gray);
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.containeruser {
    box-shadow: 0rem 0.125rem 0.5rem 0rem var(--light-gray);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #333; 
    height: min-content;
    width: 27%;
}

.banner-image {
    position: absolute;
    /* background-image: url(https://picsum.photos/500/400); */
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-image {
    width: 5rem;
    clip-path: circle(39px at center);
    /* margin-top: -0.5rem; */
    transition: all 0.5s ease 0;
    object-fit: contain;
}

/* .profile-image:hover {
    filter: grayscale(1);
} */

.name {
    font-size: 1.5rem !important;
    max-width: 96%;
    word-wrap: break-word;
    margin: 3px;
    word-break: break-word;
}

/* .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
} */

.bottonbtn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    padding: 1rem;
    /* cursor: pointer; */
    display:flex;
    justify-content: space-between;
    height: 51px;
    border-radius: 10px;
}
.bottonbtn img {
    margin-right: 8px; /* Adjust the spacing between the icon and text */
}
.bottonbtn p {
    margin: 0; /* Remove default paragraph margin */
    display: flex;
    align-items: center;
    font-size: 10px;
}
.followbtn{
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
}

.searchpostimg{    
    width: 90%;
    aspect-ratio: 3 / 2;
    object-fit: contain;
}
.topbotton_bar{
    display: flex;
    flex-direction: row;
    margin-left: 11px;
    margin-top: 4px;
}
.jobtitle{
    width: 80%;
    align-items: start;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 900;
}
@media screen and (max-width: 650px) {
    .wrapper {
        /* border: 2px solid red; */
         grid-template-columns: repeat(1, minmax(250px, 300px)) !important;
         display: grid;
    }
    .containeruser {
        box-shadow: 0rem 0.125rem 0.5rem 0rem var(--light-gray);
        text-align: center;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        border: 1px solid #333;
        height: min-content;
        width: 99%;
    }
}


.btn-theme {
    background: #1c95de;
    font-size: 12px !important;
    /* margin-top: 0% !important; */
   
}

.btn-theme {
    color: #FFF !important;
    padding: 0.7rem 2.9rem;
    font-weight: 400;
    font-size: 0.875rem;
    display: inline-block;
    display: inline-flex;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 34px;
    margin-top: 29px !important;
    z-index: 0;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 34px;
    margin-top: 29px !important;
    -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

@media screen and (min-width: 960px) {
    .wrapper {
         grid-template-columns: repeat(3, minmax(250px, 300px));
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
         grid-template-columns: repeat(2, minmax(250px, 300px));
    }
}

@media screen and (min-width: 1400px) {
    .wrapper {
         grid-template-columns: repeat(2, minmax(250px, 300px));
    }
}
