.containerlogin {
    max-width: 431px;
    margin: 72px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .submitbtn{
    text-align: center;
    padding-top: 20px;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #000; /* Line color */
}

.center-text {
  margin: 0 15px; /* Space between the lines and text */
  white-space: nowrap;
}
