.input {
    /* background: url("./Image/search.svg") no-repeat 100%; */
    background-size: 20px;
    height: 45px;
    width: 300px;
    margin-bottom: 5px;
    padding-right: 25px;
    background-color: aliceblue;
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    padding-left: 4px;
}

.input:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

input[type=text]:focus{
    outline: none !important;
    border: 1px solid aqua;
    box-shadow: 0 0 10px aqua;
}

.textarea {
    background-size: 20px;
    height: 145px;
    width: 563px;
    margin-bottom: 3px;
    /* background-color: aliceblue; */
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    word-wrap: break-word;
    margin-top: 5px;
    margin-left: 7px;
    border-color: aqua;
    resize: none;
    font-size: 19px;
    padding: 3px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    }
    .textarea2 {
        background-size: 20px;
        height: 145px;
        width: 563px;
        margin-bottom: 3px;
        /* background-color: aliceblue; */
        box-shadow: 0 0 4px rgba(0, green, blue, alpha);
        word-wrap: break-word;
        margin-top: 5px;
        margin-left: 7px;
        border-color: aqua;
        resize: none;
        font-size: 19px;
        padding: 3px;
        color: black;
        font-family:'Times New Roman', Times, serif;
        }
        .textarea3 {
            background-size: 20px;
            height: 145px;
            width: 563px;
            margin-bottom: 3px;
            /* background-color: aliceblue; */
            box-shadow: 0 0 4px rgba(0, green, blue, alpha);
            word-wrap: break-word;
            margin-top: 5px;
            margin-left: 7px;
            border-color: aqua;
            resize: none;
            font-size: 19px;
            padding: 3px;
            color: black;
            font-family:'Brush Script MT', cursive;
            }
    

.textarea:hover, .textarea2:hover ,.textarea3:hover  {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
textarea[type="text"]::placeholder
{
    /* text-align: center; */
    margin-top: 300px;
}
textarea[type="text"]::placeholder
{
    /* text-align: center; */
    margin-top: 300px;
}
textarea[type="text"]::placeholder
{
    /* text-align: center; */
    margin-top: 300px;
}

.textarea:focus ,.textarea2:focus ,.textarea3:focus{
    outline: none !important;
    border: 1px solid aqua;
    box-shadow: 0 0 10px aqua;
}

.inputtittle {
    background-size: 20px;
    height: 45px;
    width: 378px;
    margin-bottom: 5px;
    /* margin-left:20px; */
    background-color: aliceblue;
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    padding-left: 4px;
}



@media screen and (max-width: 600px) {
.textarea {
    background-size: 20px;
    height: 145px;
    width: 351px;
    margin-bottom: 3px;
    /* background-color: aliceblue; */
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    word-wrap: break-word;
    margin-top: 5px;
    margin-left: -1px;
    border-color: aqua;
    resize: none;
    font-size: 19px;
    padding: 3px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.textarea2 {
    background-size: 20px;
    height: 145px;
    width: 351px;
    margin-bottom: 3px;
    /* background-color: aliceblue; */
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    word-wrap: break-word;
    margin-top: 5px;
    margin-left: -1px;
    border-color: aqua;
    resize: none;
    font-size: 19px;
    padding: 3px;
    color: black;
    font-family:'Times New Roman', Times, serif;
}
.textarea3 {
    background-size: 20px;
    height: 145px;
    width: 351px;
    margin-bottom: 3px;
    /* background-color: aliceblue; */
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    word-wrap: break-word;
    margin-top: 5px;
    margin-left: -1px;
    border-color: aqua;
    resize: none;
    font-size: 19px;
    padding: 3px;
    color: black;
    font-family:'Brush Script MT', cursive;
}

}
