body {
    /* background: whitesmoke; */
    font-family: 'Open Sans', sans-serif;
  }
  .containerprofile {
    /* max-width: au; */
    margin: -23px auto;
    padding: 20px;
    height: auto;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
  }
  h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 16px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    /* content: "\f040"; */
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  #outer {
    position: relative;
    width: 75%;
    height: 90px;
    margin: 30px auto 0 auto;
    padding-top: 25%;
    /* background-color: #999; */
  }
      
  .itemwrapper {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
  }
      
  .item2 {
    left: 50%;
    padding-left: 4px;
  }
  .text{
    max-width: 100%;
  }

  .twobottom{
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 19px;
  }
  .makeprofile{
    padding-right: 3px;
    font-family:'Times New Roman', Times, serif;
  }
  .makeprofile{
    padding-right: 11px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 6px;
    font-size: large;
    font-style: oblique;
    color: darkslategrey;
}
  
  .profileinput {
    background-size: 20px;
    height: 45px;
    width: 341px;
    margin-bottom: 34px;
    /* margin-left:20px; */
    background-color: aliceblue;
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    padding-left: 8px;
    border-radius: 17px;
}

@media (max-width: 768px) {
  .profileinput {
    background-size: 20px;
    height: 45px;
    width: 303px;
    margin-bottom: 5px;
    /* margin-left:20px; */
    background-color: aliceblue;
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    padding-left: 8px;
    border-radius: 17px;
}
.profilebottom{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background-color: aliceblue;
  margin-top: 4px;
  border-radius: 16px;
}
.profilelocked{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background-color: aliceblue;
  margin-top: 4px;
  border-radius: 16px;
  background-color: rgb(30 232 102 / 91%);
  height: 41px;
}
.centerpostcard{
  padding-left:0px !important
}
}
@media (max-width: 740px) {
  .profileinput {
    background-size: 20px;
    height: 45px;
    width: 290px;
    margin-bottom: 13px;
    /* margin-left:20px; */
    background-color: aliceblue;
    box-shadow: 0 0 4px rgba(0, green, blue, alpha);
    padding-left: 8px;
    border-radius: 17px;
}
.profilebottom{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background-color: aliceblue;
  margin-top: 4px;
  border-radius: 16px;
}
.profilelocked{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background-color: aliceblue;
  margin-top: 4px;
  border-radius: 16px;
  background-color: rgb(30 232 102 / 91%);
  height: 41px;
}
.centerpostcard{
  padding-left:0px !important
}
}
/*  */

.editprofile{
  display: flex;
  justify-content: center;
}
.profilebottom{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 40%;
  background-color: aliceblue;
  margin-top: 4px;
  border-radius: 16px;
}
.profilelocked{
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 40% ;
  background-color: aliceblue;
  margin-top: 4px;
  border-radius: 16px;
  background-color: rgb(30 232 102 / 91%);
  height: 41px;
}
.profilediv{
  justify-content: center;
    display: flex;
}
.centerpostcard{
  padding-left:25px
}
.profilebottomtext{
  margin: 28px;
  font-size: 19px;
  border-bottom-width: 1.2px;
  border-color: red;
  /* border-style: solid; */
  border-bottom-style: solid;
  cursor: pointer;
}
.profilebottomtext2{
  margin: 28px;
  font-size: 19px;
  /* border-bottom-width: 4px;
  border-bottom-style: solid; */
  cursor: pointer;
}

.user_name{
  margin: 8px;
  font-size: 20px;
  font-family: -webkit-body;
}

.aboutdetails{
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.pratitle{
  font-size: 17px;
    font-family: monospace;
    font-weight: 800;
}

.anstitle{
  margin-left: 5px;
  font-size: medium;
  font-family: sans-serif;
}
.profilelocktext{
  color: aliceblue;
    font-size: large;
    font-family: 'Montserrat';
    font-weight: bolder;
}
